body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    /* background-image: url("./resimage.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

h2 {
    font-weight: bold;
}


/*For lab write-up-----
/* 
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
} */